@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-main: rgb(226, 73, 73);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 80%;
    margin-top: 1rem;
    margin: auto;
}
.navbar {
    background-color: rgb(226, 73, 73);
    color: #fff;
    padding-block: 1rem;

    .container,
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav-links {
    list-style: none;
    gap: 1rem;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}
.nav-link.active {
    text-decoration: underline;
}
.nav-cart {
    cursor: pointer;
}
.shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.product {
    border: 1px solid #8f8383;
    padding: 1rem;
}
.product-name {
    font-weight: bold;
    margin-bottom: 1rem;
}
.product-category {
    color: #656565;
    margin-bottom: 1rem;
    font-style: oblique;
}
.product-description {
    font-size: .8rem;
    color: black; 
}

.see-more-btn {
    background-color: rgb(226, 73, 73);
    /* margin-left: 5rem; */
    /* margin-top: 5px; */
    border-radius: .3rem;
    padding: .4em;
    color: #fff;
    border: none;
    cursor: pointer;
    &&:hover {
        background-color: rgb(131, 37, 37);
    }
}
.image-container {
    width: 100%;
    height: 350px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.details {
    width: 100%;
    display: flex;
    /* flex: 1; */
    margin-top: 1rem;
}
.details-description {
    width: 50%;
    margin-top: 5rem;
}
.details h1 {
    font-size: 2rem;
}
.image-container__details img {
    width: 100%;
}
.small-image-container__details {
    /* width: 50%;
    margin-left: 4rem; */
    display: flex;
    margin-left: 4rem;
}
.small-image-container__details img {
    width: 10rem;
}
.log-in-btn {
    background-color: rgb(131, 37, 37);
    border: none;
    padding: .7em;
    border-radius: 1.2rem;
    width: 5rem;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}
.log-in-btn:hover {
    background-color: rgb(74, 22, 22);
}
.form-container {
    height: 100svh;
    /* display: grid;
    grid-template-columns: 1fr auto; */
    margin: auto;
}
.form-container {
    width: 35rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.contact-form {
    background-color: #ffffff;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid gray;
    box-shadow: 3px 3px 6px gray;
    margin-top: 5rem;
}
.form-group {
    margin-bottom: 1rem;
    width: 100%;
    padding: .8rem;
}
.form-label, .form-control {
    display: block;
    width: 100%;
    height: 2rem;
}
#message {
    width: 100%;
    height: 10rem;
    resize: none;
}
.invalid-input {
    color: firebrick;
}
.contact-send-btn {
    width: 100%;
    background-color: var(--clr-main);
    border: none;
    border-radius: .3rem;
    padding: .5em;
    cursor: pointer;
    color: #fff;
}
.skeleton {
    background-color: lightgray;
    border-radius: .5rem;
    opacity: 50%;
    width: 200px;
}

.details-price {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.cart-btn {
    background-color: rgb(226, 73, 73);
    /* margin-left: 5rem; */
    /* margin-top: 5px; */
    border-radius: .3rem;
    padding: .4em;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 5px;
    &&:hover {
        background-color: rgb(131, 37, 37);
    }
}