* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.navbar {
    background-color: rgb(226, 73, 73);
    color: #fff;
    padding-block: 1rem;

    .container,
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav-links {
    list-style: none;
    gap: 1rem;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}
.nav-link.active {
    text-decoration: underline;
}
.shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.product {
    border: 1px solid #8f8383;
    padding: 1rem;
}
.product-name {
    font-weight: bold;
    margin-bottom: 1rem;
}
.product-category {
    color: #656565;
    margin-bottom: 1rem;
    font-style: oblique;
}
.product-description {
    font-size: .8rem;
    color: black; 
}

.see-more-btn {
    background-color: rgb(226, 73, 73);
    /* margin-left: 5rem; */
    /* margin-top: 5px; */
    border-radius: .3rem;
    padding: .4em;
    color: #fff;
    border: none;
    cursor: pointer;
    &&:hover {
        background-color: rgb(131, 37, 37);
    }
}
.image-container {
    width: 100%;
    height: 350px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.details__container {
    width: 200px;
}
.details {

}
.image-container__details img {
    width: 30rem;
}
.small-image-container__details img {
    width: 10rem;
}
.log-in-btn {
    background-color: rgb(131, 37, 37);
    border: none;
    padding: .7em;
    border-radius: 1.2rem;
    width: 5rem;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}
.log-in-btn:hover {
    background-color: rgb(74, 22, 22);
}